.main-header {
    text-transform: uppercase;
    font-weight: 800;
    .header-top {
        height: 30px;
        font-size: 14px;
        background-color: $primary-col;
        .container {
            @include flex-end;
            padding: 0;
            li {
                line-height: 30px;
                color: $white-text;
                margin-left: 20px;
                a {
                    color: $white-text;
                }
            }
        }
    }
    .container {
        @include flex-between;
        padding: 10px 0;
        .navbar-brand {
            @include flex-center;
            margin-right: 20px;
        }
        .navbar-nav {
            ul {
                @include flex-center;
                li {
                    display: grid;
                    grid-template-columns: repeat(auto-fill);
                    margin: 10px;
                    a {
                        color: $color-text;
                    }
                }
            }
        }
        input {
            font-size: 18px;
            font-weight: bold;
            text-align: right;
            width: 100px;
            padding: 5px;
            color: $color-text;
            border: none;
            border-bottom: 2px solid $primary-col;
            &:focus {
                outline: none;
            }
          }
    }
}