//COLORS
$primary-col: #0282f9;
$color-text: #000;
$white-text: #fff;
$back-col: #1c1c1c;
$footer-col: #303030;
$link-footer: #929292;
$label-det: #55ba59;
$label-border: #357739;
$specifics: #003f5e;